<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
    <h3 class="container__page-title">Your Subscription has been confirmed</h3>
    <p class="container__page-description">As a reminder, you will receive 1 algorithm each morning, and the solution every evening</p>
</div>

</body>
</html>